.list-item {
    font-weight: 150px;
    margin-bottom: 10px;
    font-size: 24px;
    color: cadetblue;
}

button {
    font-size: 18px;
    margin: 3px;
}


.box:checked {
    color: darkblue;
    background-color: darkblue;
    text-decoration: underline;
}